In [56]:
list1=["3",1,2]

In [57]:
print(list1)

['3', 1, 2]

In [58]:
type(list1)

list

In [59]:
from IPython.display import Image

In [60]:
list2=['a','e','i','o','u']

In [61]:
list2[-3:-1]

['i', 'o']

In [62]:
list2

['a', 'e', 'i', 'o', 'u']

In [63]:
list2[0],list2[2]

('a', 'i')

In [64]:
list2[2]='z'

In [65]:
list2

['a', 'e', 'z', 'o', 'u']

In [66]:
list2.append(['x','y'])

In [67]:
list2

['a', 'e', 'z', 'o', 'u', ['x', 'y']]

In [68]:
list2.extend(['bar','abc'])

In [69]:
list2

['a', 'e', 'z', 'o', 'u', ['x', 'y'], 'bar', 'abc']

In [70]:
len(list2)

8

In [71]:
list2[5]

['x', 'y']

In [72]:
list3=list2.pop()

In [73]:
print(list2)

['a', 'e', 'z', 'o', 'u', ['x', 'y'], 'bar']

In [74]:
a = ['a','b','c']
b = len(a)
c= a[-b],a[-b+1] # -3,-2
print(b)
print(c)

3
('a', 'b')

In [75]:
x=range(10,30)

In [76]:
print(x)

range(10, 30)

In [77]:
list(x)

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [78]:
num=[]
x1=range(1,9,2)

In [79]:
list(x1)

[1, 3, 5, 7]

In [81]:
#help(range)

In [83]:
num=[1,2,3,4,5,6,7]

In [84]:
num[2:4]=[2,3]

In [85]:
num

[1, 2, 2, 3, 5, 6, 7]

In [89]:
try:
    x=int(input("enter integer value\n"))
    print(x)
except:
    print("you havent entered integer\n")

enter integer value
1
1

In [90]:
for i in num:
    print(i)

1
2
2
3
5
6
7

In [93]:
ids=list(range(1,len(num)+1))
print(ids)

[1, 2, 3, 4, 5, 6, 7]

In [97]:
animals = ['cat', 'dog', 'monkey','cat', 'dog', 'monkey','cat', 'dog', 'monkey']
for i in animals:
    print(i)

cat
dog
monkey
cat
dog
monkey
cat
dog
monkey

In [98]:
list(zip(ids,animals))

[(1, 'cat'),
 (2, 'dog'),
 (3, 'monkey'),
 (4, 'cat'),
 (5, 'dog'),
 (6, 'monkey'),
 (7, 'cat')]

In [100]:
list(enumerate(animals))

[(0, 'cat'),
 (1, 'dog'),
 (2, 'monkey'),
 (3, 'cat'),
 (4, 'dog'),
 (5, 'monkey'),
 (6, 'cat'),
 (7, 'dog'),
 (8, 'monkey')]

# List comprehensions
When programming, frequently we want to transform one type of data into another. As a simple example,
consider the following code that computes square numbers:

In [102]:
num1=[1,2,3,4,5,6,7,8,9]
squares=[x**2 for x in num1]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [104]:
squares.index(81)

8

In [105]:
#List comprehensions can also contain conditions:

In [107]:
num2=[1,2,3,4,5,6]
even_squares=[x**2 for x in num2 if x%2==0]
print(even_squares)

[4, 16, 36]

In [108]:
# Let's have some fun with list comprehension

In [109]:
# for x in colours:
# for y in things:
# print( x,y)

In [113]:
color={'red','blue','green','yellow'}
country={'india','australia','england'}

colorcountry=[(y,x) for y in country for x in color]
print(colorcountry)

[('india', 'red'), ('india', 'blue'), ('india', 'green'), ('india', 'yellow'), ('england', 'red'), ('england', 'blue'), ('england', 'green'), ('england', 'yellow'), ('australia', 'red'), ('australia', 'blue'), ('australia', 'green'), ('australia', 'yellow')]

Activity
Using list comprehension, extract only vowels from a random sentence
You can take any sentence from google/wikipedia

In [118]:
sentence=" Happy Independence day"
vowels=['a','e','i','o','u']

vowelextract= [i for i in vowels if i in sentence.lower()]
vowelextract1= [x for x in sentence.lower() if x in vowels]
print(vowelextract)   #will print vowel list so only 1 time printed
print(vowelextract1) #will print from sentence

['a', 'e', 'i']
['a', 'i', 'e', 'e', 'e', 'e', 'a']

# Dictionaries

In [119]:
d = { 'cat':'cute', 'dog':'furry' } #create a dictionary

In [121]:
print(d['dog'])

furry

In [122]:
print('cat' in d)

True

In [123]:
print(d)

{'cat': 'cute', 'dog': 'furry'}

In [124]:
d.clear()

In [125]:
print(d)

{}

In [126]:
type(d)

dict

In [127]:
#Adding element to the dictionaries
d['fish']='wet'

In [128]:
print(d)

{'fish': 'wet'}

In [129]:
d['fish']='pond'

In [131]:
print(d)

{'fish': 'pond'}

In [132]:
# What happens if I try to access elements that are not in the dictionary

print(d['monkey'])

KeyError: 'monkey'

In [133]:
print(d.get('monkey','Not present'))
print(d.get('fish','Not present'))

Not present
pond

In [135]:
d.keys(),type(d.keys())

(dict_keys(['fish']), dict_keys)

In [136]:
for i in d.keys():
    print(i)

fish

# iterate over keys

In [138]:
d = {'person': 2, 'cat': 4, 'spider': 8}

for i in d:
    print(i)

person
cat
spider

In [140]:
v = {'a':1,'b':2,'c':3} # Simple Example
for i in v:
    print(i,v[i])

a 1
b 2
c 3

In [141]:
d.items()

dict_items([('person', 2), ('cat', 4), ('spider', 8)])

In [142]:
cric = {'Sachin': (10,100000),'Kohli':[18,5000]}

In [144]:
for i in cric.items():
    print(i)

('Kohli', [18, 5000])
('Sachin', (10, 100000))

# Sets
A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [145]:
animals = {'cat', 'dog','cow','lion','tiger'}
# pay attention to the order in which the items are printed
print (animals)
print ('cat' in animals) # Check if an element is in a set; prints "True"
print ('fish' in animals) # prints "False"

{'tiger', 'lion', 'cat', 'cow', 'dog'}
True
False

In [146]:
v = {'a','b','c','d','e','f','f','e'} #prints unique values
print(v)

{'d', 'e', 'a', 'f', 'b', 'c'}

In [148]:
animals.add('cat') # Adding an element that is already in the set does nothing
print(animals)
print (len(animals))
animals.remove('cat') # Remove an element from a set
print (len(animals))

{'tiger', 'lion', 'cat', 'cow', 'dog'}
5
4

# Tuples
A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most
important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists
cannot. Here is a trivial example:

In [149]:
t=(5,6)
print(t)

(5, 6)

In [150]:
print(type(t))

<class 'tuple'>

In [151]:
t[0]

5

In [152]:
t[1]

6

In [153]:
t[0:]

(5, 6)

In [155]:
sentence

' Happy Independence day'

In [156]:
a=((1,2),(3,4,5,6,7))
print(a)

((1, 2), (3, 4, 5, 6, 7))

In [159]:
a = [[1,2],[3,4,5,6,7,8]]
for i in a:
    print(i)
# print(a[0][1])
# a[0][1]=10
    print(a[0][1])

[1, 2]
2
[3, 4, 5, 6, 7, 8]
2

# Dictionary with tuple keys

In [161]:
d={(x,x+1): x**2 for x in range(10)}
d

{(0, 1): 0,
 (1, 2): 1,
 (2, 3): 4,
 (3, 4): 9,
 (4, 5): 16,
 (5, 6): 25,
 (6, 7): 36,
 (7, 8): 49,
 (8, 9): 64,
 (9, 10): 81}

# Lambda functions

In [163]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]   #using list comprehension
[i for i in my_list if i%2==0]

[4, 6, 8, 12]

In [168]:
new_list = list(filter(lambda x: (x%2 == 0),my_list))

In [169]:
print(new_list)

[4, 6, 8, 12]

The map() Function
map() is a function with two arguments:
r = map(func, seq)
The first argument func is the name of a function and the second a sequence (e.g. a list) seq. map()
applies the function func to all the elements of the sequence seq. It returns a new list with the elements
changed by func

In [171]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)

In [172]:
temp = (36.5, 37, 37.5,39)

In [173]:
F = map(fahrenheit, temp)
# F = list(map(fahrenheit, temp))

In [174]:
F

In [175]:
list(F)

[97.7, 98.60000000000001, 99.5, 102.2]

In [176]:
c=map(celsius,temp)

In [177]:
list(c)

[2.5, 2.7777777777777777, 3.055555555555556, 3.8888888888888893]

In [178]:
#By using lambda, we wouldn't have had to define and name the functions fahrenheit() and celsius().

In [179]:
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = list(map(lambda x: (float(9)/5)*x + 32, Celsius))
print( Fahrenheit)
C = list(map(lambda x: (float(5)/9)*(x-32), Fahrenheit))
print( C)

[102.56, 97.7, 99.14, 100.03999999999999]
[39.2, 36.5, 37.300000000000004, 37.8]

map() can be applied to more than one list. The lists have to have the same length. map() will apply its
lambda function to the elements of the argument lists, i.e. it first applies to the elements with the 0th index,
then to the elements with the 1st index until the n-th index is reached

In [180]:
a = [1,2,3,4]
b = [17,12,11,10]
c = [-1,-4,5,9]
print (list(map(lambda x,y:x+y, a,b)))

[18, 14, 14, 14]

In [181]:
print (list(map(lambda x,y,z:x+y-z, a,b,c)))

[19, 18, 9, 5]